@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";

/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";


.logo-img {
  width: 14rem;
}

h1, h2 {
  font-weight: 800 !important;
}

.footer {
  a, i {
    color: #669b00 !important;
  }
}

.d-block {
  a {
    color: #669b00;
  }
}


.store-badge {
  height: 45px;
}

.shuttle-img {
  width: 20rem;
}

.phone-section-img {
  height: calc(95vh);
}

#features {
  text-align: center;

  h3 {
    color: black;
  }

  .feature-image {
    width: 20rem;
  }
}

#about {
  img {
    width: 16rem;
  }
}


@media(min-width: 991.99px) {
  .site-blocks-cover > .container > .row {
    min-height: calc(100vh);
  }
  img.main-phone {
    top: unset;
    height: calc(100vh);
    transform: translateY(32%) translateX(-4%);
  }

  .shuttle-img {
    transform: rotate(-30deg) translateY(85%) translateX(35%);
  }


}

@media (max-width: 991.98px) {

  .site-blocks-cover > .container {
    margin-bottom: 3rem;
  }
  img.main-phone {
    margin-bottom: 3rem;
    max-height: 40rem;
    transform: translateY(6%) translateX(-8%);
  }
}

.text-primary {
  color: $primary !important;
}

.container.privacy {
  color: black;
  margin-top: 3rem;
}
